.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;


}
.text-center{
 text-align: center;  
}
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.transaction-form input{
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  border: 1px solid gray;
  
}
.transaction-list{
  margin: 0;
  padding: 0;
}
.transaction-list>li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  background-color: white;
  margin-top: 6px;
  padding: 5px;

}
#submit{
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  
}
#submit:active{
  background-color: white;
  color: black;
}
#delete{
  background-color: red;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
#edit{
  background-color: grey;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
#delete:active{
  background-color: white;
  color: black;
}
#edit:active{
  background-color: white;
  color: black;
}
